fieldset{
	width: 60%;
	margin-left: 20%;
	margin-bottom: 30px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

legend{
	font-size: 25px;
}

input{
	border-radius: 10px;
	
}

textarea{
	border-radius: 10px;
}

body{
	background-image: url('images/background.png');
}

.set{
	background-color: #CEE7EC;

}

.logo{
	height: 100px;
	alt: logo;
	display: block;
	margin-left: auto;
	margin-right: auto ;
}